.produto-detalhes-container {
  height: 80vh;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.produto-detalhes {
  width: 80%;
  height: fit-content;
  background-color: var(--cor-preto);
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--cor-amarelo);
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 10px;
}
.detalhes-voltar {
  align-self: flex-start;
  padding: 0;
  color: var(--cor-amarelo);
  position: absolute;
  top: 15%;
  left: 5%;
}
.produto-detalhes img {
  height: auto;
  width: 80%;
  border-radius: 30px;
}
.produto-detalhes p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.adicionar-carrinho-produto {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.adicionar-produto-detalhes-botoes {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f4f4;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
}

.adicionar-produto-detalhes-botoes:hover {
  transform: scale(1.1);
}

.quantidade-produto-detalhes {
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 1.3rem;
  background-color: #333;
  color: #f4f4f4;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.botao-adicionar-produto-detalhes {
  width: calc(100% - 120px);
  height: 50px;
  border-radius: 25px;
  background-color: var(--cor-amarelo);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

.icone {
  font-size: 1.6rem;
}

.editar-produto-detalhes {
  width: 80%;
  height: fit-content;
  background-color: var(--cor-preto);
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--cor-amarelo);
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 10px;
  color: white;
}
.editar-produto-detalhes input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.editar-produto-detalhes textarea {
  resize: none;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-top: 0;
  scrollbar-width: none;
}
.editar-produto-detalhes label {
  text-align: left;
  width: 100%;
}
.editar-produto-detalhes img {
  height: auto;
  width: 50%;
  border-radius: 30px;
}
.acoes-produto {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.acoes-produto button {
  width: 40%;
  background-color: var(--cor-amarelo);
  border-radius: 30px;
  border: none;
  padding: 5px;
  font-size: 1.4rem;
}
