.catalogo-container {
  height: 80vh;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.produtos-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--cor-amarelo);
}
.produtos-container h2 {
  margin: 0;
  margin-bottom: 10px;
}
.filtragem {
  display: flex;
  align-items: center;
  gap: 5px;
}
.filtragem label {
  margin-right: 5px;
}
.filtragem select {
  padding: 5px;
  border-radius: 20px;
  border: none;
  background-color: white;
}
.produtos-catalogo-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  gap: 10px;
  scrollbar-width: none;
}
