.produto-catalogo-container {
  width: 40%;
  max-width: 300px;
  height: auto;
  background-color: rgb(32, 32, 32);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: var(--cor-amarelo) 2px solid;
  margin: 10px auto;
}

.produto-catalogo-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.produto-catalogo-container p {
  margin: 5px;
  text-align: center;
}

.produto-catalogo-container button {
  border: none;
  padding: 5px;
  width: 90%;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--cor-amarelo);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
