.cabecalho-container {
  width: 100vw;
  height: 10vh;
  background-color: var(--cor-preto);
  color: var(--cor-amarelo);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-titulo {
  margin: 0;
  transform: translateX(-12px);
  font-size: 1.5rem;
}

.cabecalho-pesquisar {
  display: flex;
  align-items: center;
  position: relative;
  width: 35%;
}

.pesquisar-icone {
  position: absolute;
  margin-left: 10px;
  color: grey;
}

.cabecalho-pesquisar input {
  padding: 2px 30px 2px 30px;
  border-radius: 20px;
  border: 1px grey solid;
  width: 100%;
}

.botao-limpar {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: grey;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.botao-limpar:hover {
  color: var(--cor-amarelo);
}

.cabecalho-pesquisar input::placeholder {
  font-weight: bold;
  letter-spacing: 1px;
}

.cabecalho-logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
