.cabecalho-container {
  width: 100vw;
  height: 10vh;
  background-color: var(--cor-preto);
  color: var(--cor-amarelo);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-titulo {
  margin: 0;
  transform: translateX(-12px);
  font-size: 1.5rem;
}

.cabecalho-pesquisar {
  display: flex;
  align-items: center;
  width: 35%;
}

.pesquisar-icone {
  position: absolute;
  margin: 5px;
  color: grey;
}

.cabecalho-pesquisar input {
  padding: 2px;
  padding-left: 20px;
  border-radius: 20px;
  border: 1px grey solid;
  width: 100%;
}

.cabecalho-pesquisar input::placeholder {
  font-weight: bold;
  letter-spacing: 1px;
}

.cabecalho-logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
